@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.ttf");
}

@font-face {
  font-family: "BarlowCondensed-ExtraLight";
  src: url("../fonts/BarlowCondensed-ExtraLight.ttf");
}

@font-face {
  font-family: "Bellefair-Regular";
  src: url("../fonts/Bellefair-Regular.ttf");
}

html {
  background-image: url("../images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container h1 {
  color: #ffffff;
  font-family: "Bellefair-Regular";
  font-size: 96px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  margin: 8px 0 15px;
}

.home-container h5 {
  color: #d0d6f9;
  font-family: "BarlowCondensed-regular";
  letter-spacing: 4.75px;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

.home-container p {
  width: 90%;
  color: #d0d6f9;
  font-family: "BarlowCondensed-ExtraLight";
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.75px;
}

.home-container h5:nth-of-type(2) {
  background-color: #ffffff;
  color: black;
  font-family: "BarlowCondensed-regular";
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
