@font-face {
	font-family: "BarlowCondensed-Light";
	src: url("../assets/fonts/BarlowCondensed-Light.otf");
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 30px;
	font-family: "BarlowCondensed-Light";
	font-size: 18px;
	letter-spacing: 4.75px;
}

.navbar-container img:nth-of-type(2) {
	width: 28px;
	height: 25px;
}

.navbar-menu-hidden {
	width: 0px;
	display: flex;
	flex-direction: column;
	position: absolute;
}

.navbar-menu {
  height: 100%;
	width: 254px;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0px;
	top: 0px;
	backdrop-filter: blur(50px);
	-webkit-transition: width 0.3s;
	transition: width 0.3s ease-in;
}

.navbar-menu img {
	position: absolute;
	right: 35px;
	top: 40px;
	width: 23px;
}

.navbar-menu-options-hidden {
	display: none;
}

.navbar-menu-options {
	list-style: none;
	counter-reset: css-counter -1;
}

.navbar-menu-options li {
	text-transform: uppercase;
	color: #ffffff;
	height: 30px;
	counter-increment: css-counter 1;
	margin-bottom: 25px;
}

.navbar-menu-options li::before {
	content: "0" counter(css-counter);
	font-weight: 600;
	margin-right: 10px;
}

a {
	text-decoration: none;
}

.menuOptionUnderline {
	border-right: 5px solid #ffffff;
}
